<nav class="menu">
    <ol>
        <li>
            <a class="link" href="/" {% if page.url == "/" %} style="color:red;" {% endif %} >Inicio</a>
        </li>
        <li>
            <a class="link" href="/journeylog.html" {% if page.url == "/journeylog.html" %} style="color:red;" {% endif %} >Bitácora</a>
        </li>
        <li>
            <a class="link" href="/portfolio.html" {% if page.url == "/portfolio.html" %} style="color:red;" {% endif %} >Portafolio</a>
        </li>
        <li>
            <a class="link" href="/courses.html" {% if page.url == "/courses.html" %} style="color:red;" {% endif %} >Cursos Recomendados</a>
        </li>
        <li>
            <a class="link" href="#contact" {% if page.url == "#contact" %} style="color:red;" {% endif %} >Contacto</a>
        </li>
    </ol>
</nav>