<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kenar Enterprise</title>
    <link rel="icon" type="image/png" href="/assets/images/CommandoKenar716.png" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Roboto:400,700|Satisfy" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <!-- <figure class="logo">
            <img src="images/May the Force be your programming.png" alt="Logo de https://kenar716.github.io/">
            </figure> -->
            <a href="/" ><h1>CodingFriki</h1></a>
            {% include navigation.html %}
        </div>
    </header>
    {{ content }}
    <section id="contact" class="contact">
        <div class="container">
            <!-- Begin Mailchimp Signup Form -->
            <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
            <!-- <style type="text/css">
                    #mc_embed_signup {
                        background: #fff;
                        clear: left;
                        font: 14px Helvetica, Arial, sans-serif;
                    }
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style> -->
            <div id="mc_embed_signup">
                <form action="https://github.us19.list-manage.com/subscribe/post?u=8be88abe460439e86bc27581b&amp;id=d3f782cea9"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h3>Aprendamos algo nuevo juntos...</h3>
                        <div class="mc-field-group">
                            <!-- <label for="mce-EMAIL">Correo Electrónico </label> -->
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Correo Electrónico">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_8be88abe460439e86bc27581b_d3f782cea9" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function ($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL'; ftypes[0] = 'email';
                    /*
                    * Translated default messages for the $ validation plugin.
                    * Locale: ES
                    */
                    $.extend($.validator.messages, {
                        required: "Este campo es obligatorio.",
                        remote: "Por favor, rellena este campo.",
                        email: "Por favor, escribe una dirección de correo válida",
                        url: "Por favor, escribe una URL válida.",
                        date: "Por favor, escribe una fecha válida.",
                        dateISO: "Por favor, escribe una fecha (ISO) válida.",
                        number: "Por favor, escribe un número entero válido.",
                        digits: "Por favor, escribe sólo dígitos.",
                        creditcard: "Por favor, escribe un número de tarjeta válido.",
                        equalTo: "Por favor, escribe el mismo valor de nuevo.",
                        accept: "Por favor, escribe un valor con una extensión aceptada.",
                        maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
                        minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
                        rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
                        range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
                        max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
                        min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
                    });
                }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->

            <div class="social">
                <a class="social-link twitter" href="https://twitter.com/Kenar716" target="_blank"></a>
                <a class="social-link github" href="https://github.com/kenar716" target="_blank"></a>
                <a class="social-link linkedin" href="https://linkedin.com/in/carlos-uriel-valdez-muñoz" target="_blank"></a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div>
                <p>
                    <a href="https://platzi.com/clases/html5-css3/">Curso de Desarrollo Web Online 2018</a>
                    <a href="http://www.platzi.com" target="_blank">
                        <img src="https://static.platzi.com/static/css/logo.a76b2a87162b3b46529c30d1cb91ccc6.png"
                            height="39px" width="100px" alt="Platzi">
                    </a>
                </p>
            </div>
            <div>
                <p>
                    <!-- Designed with <\3 by <a href="https://twitter.com/Kenar716">Kenar716</a> -->
                    Designed with <\3
                </p>
            </div>
        </div>
    </footer>
</body>
</html>