<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <!-- <figure class="logo">
            <img src="images/May the Force be your programming.png" alt="Logo de https://kenar716.github.io/">
            </figure> -->
            <h1>May the Force <br>be your programming</h1>
            {% include navigation.html %}
        </div>
    </header>
    {{ content }}
    <section id="contact" class="contact">
        <div class="container">
            <form action="/suscripcion/" class="form-email">
                <h3>Aprendamos algo nuevo juntos...</h3>
                <!-- <label for="inputPaisSuscripcion">Pais: </label> -->
                <input id="inputPaisSuscripcion" type="text" placeholder="País">
                <!-- <label for="inputCorreoSuscripcion">Correo Electrónico: </label> -->
                <input id="inputCorreoSuscripcion" type="text" placeholder="Correo Electrónico">
                <!-- <button>Enviar</button> -->
                <input id="inputSuscribete" type="submit" value="Suscribete">
            </form>
            <div class="social">
                <a class="social-link twitter" href="https://twitter.com/Kenar716" target="_blank"></a>
                <a class="social-link github" href="https://github.com/kenar716" target="_blank"></a>
                <a class="social-link linkedin" href="https://linkedin.com/in/carlos-uriel-valdez-muñoz" target="_blank"></a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div>
                <p>
                    <a href="https://platzi.com/clases/html5-css3/">Curso de Desarrollo Web Online 2018</a>
                    <a href="http://www.platzi.com" target="_blank">
                        <img src="https://static.platzi.com/static/css/logo.a76b2a87162b3b46529c30d1cb91ccc6.png"
                            height="39px" width="100px" alt="Platzi">
                    </a>
                </p>
            </div>
            <div>
                <p>
                    <!-- Designed with <\3 by <a href="https://twitter.com/Kenar716">Kenar716</a> -->
                    Designed with <\3
                </p>
            </div>
        </div>
    </footer>
</body>
</html>