---
layout: default
---
<section class="blogpost" id="blogpost">
    <div class="container">
        <article class="blogentry">
            <h2>{{ page.title }}</h2>
            <div class="blogentry-details">
                <strong>Fecha: </strong>{{ page.date | date: "%d %B %Y" }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Semana: </strong>{{ page.date | date: "%U - %Y" }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Autor: </strong>{{ page.author }}
            </div>
            <div class="blogentry-content">
                {{ content }}
            </div>
        </article>
    </div>
</section>